<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= code %> : [Error]</title>
</head>
<body>
    <div class="container-error">
        <div class="error_code">
            <h1><%= code %></h1>
        </div>
        <div class="error_message">
            <p><%= message %></p>
        </div>
    </div>
</body>
</html>